<html ng-app>
<head>
    <title>ATK Map Editor</title>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body ng-controller="MainController">
    <div id="header">
        <h3>ATK Map Editor</h3>
        <span>Nombre: </span>
        <input type="text" ng-model="levelName">
        <div class="pull-right">
            <button ng-click="setDel()">Borrar</button>
            <button ng-click="downloadLevel()">Download Level</button>
        </div>
    </div>
    <div id="main-container">
        <div id="platform-bars">
            <br>
            <pre>Code Selected: {{selName}}</pre><br>
            <pre ng-click="toggleShow('required')">Required:</pre>
            <div ng-show="showing.required">
            <a ng-repeat="plt in required" ng-click="setSel(plt.name,true)" class="img-btn">
                <img src="platforms/{{plt.img}}" alt="img" id="im-{{plt.name}}">
            </a>
            </div>
            <br><br>
            <pre ng-click="toggleShow('rectangular')">Rectangular:</pre>
            <div ng-show="showing.rectangular">
            <a ng-repeat="plt in platforms" ng-click="setSel(plt.name,false)" class="img-btn">
                <img src="platforms/{{plt.img}}" alt="img" id="im-{{plt.name}}">
            </a>
            </div>
            <br><br>
            <pre ng-click="toggleShow('pokemon')">Pokemon:</pre>
            <div ng-show="showing.pokemon">
            <a ng-repeat="plt in pokemons" ng-click="setSel(plt.name,true,false,'%E')" class="img-btn">
                <img src="platforms/{{plt.img}}" alt="img" id="im-{{plt.name}}">
            </a>
            </div>
            <br><br>
            <pre ng-click="toggleShow('modifiers')">Modifiers:</pre>
            <div ng-show="showing.modifiers">
            <button ng-repeat="plt in modifiers" ng-click="setSel($index,false,true)" style="width: 100%;">
                {{$index+". "+plt}}
            </button>
            </div>
            <br><br>
            <pre ng-click="toggleShow('decorations')">Decorations:</pre>
            <div ng-show="showing.decorations">
            <a ng-repeat="plt in decorations" ng-click="setSel(plt.name,true,false,'%D')" class="img-btn">
                <img src="platforms/{{plt.img}}" alt="img" id="im-{{plt.name}}">
            </a>
            </div>
            <br><br>
        </div>
        <div id="canvas-container">
            <canvas id="canvas" width="10500" height="1400"></canvas>
        </div>
    </div>
</body>

</html>