*{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

body{
    font-family: Helvetica, Sans;
    font-size: 14px;
}

#header{
    width: 100%;
    height: 9vh;
    padding-top: 8px;
    background: #efefef;
}

#main-container{
    width: 100%;
    height: 90vh;
}

#platform-bars{
    width: 15vw;
    height: 85vh;
    background: #ccc;
    display: inline-block;
    position: absolute;
    overflow: auto;
}

#canvas-container{
    width: 80vw;
    height: 85vh;
    overflow: scroll;
    display: inline-block;
    position: absolute;
    right: 10px;
}

.img-btn{
    display: inline-block;
    padding: 4px;
}

.pull-right{
    display: block;
    float: right;
    margin-right: 8px;
}

#main-canvas{
    width: 10500px;
    height: 1400px;
}

button{
    margin: 1px 2px;
    padding: 4px;
    border: none;
    background: #ddd;
    box-shadow: #666 1px 1px 4px;
}

button:hover{
    background: #acf;
}

pre{
    margin-left: 4px;
}

img.map-img{
    position: absolute;
    display: block;
}

.map-rimg{
    position: absolute;
    display: block;
    background-repeat: repeat;
}

.titlearea{
    margin-left: 20px;
    display: inline-block;
}

.infoarea{
    display: inline-block;
    margin-left: 40px;
}

.topst{
    font-size: 120%;
    padding: 4px 12px;
    margin-right: -4px;
    background: #ccc;
}

.selected{
    background: #2c4;
}

.clickable:hover{
    cursor: pointer;
}

.red{
    background: #f66;
}

.red:hover{
    background: #f00;
}

.info{
    padding: 4px 12px;
    position: absolute;
    display: block;
    background: #ccc;
    box-shadow: #666 1px 1px 4px;
    z-index: 1000;
    right: 10px;
    top: 50px;
}

.lbl{
    min-width: 50px;
    display: inline-block;
}